<!DOCTYPE html>
<html>
<head lang="en" class="no-js">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Movies to watch</title>
</head>
<body ng-app="MovieApp" layout="column" ng-controller="AppCtrl as app">
<md-toolbar md-scroll-shrink class="md-tall">
    <div class="md-toolbar-tools">
        <div layout="column" layout-align="center start" id="header-text">
            <h1 id="header-h1">Movies or tv shows to watch
            </h1>
            <p id="header-p">A place where anyone can suggest something good to watch</p>
        </div>
        
        <div layout="row" layout-align="space-around center">
            <div flex>
            <md-button class="md-primary" ui-sref="add" ng-click="app.clearMovie()" aria-label="add">
                <ng-md-icon icon="add_box" style="fill: white" size="48"></ng-md-icon> 
            </md-button>
            </div>
            <div flex>
            <md-button class="md-accent" ui-sref="movies" ng-click="app.updateList()" aria-label="list">
                <ng-md-icon icon="list" style="fill: white" size="48"></ng-md-icon> 
            </md-button>
            </div>
        </div>
        
    </div>
</md-toolbar>





<md-content ui-view>

</md-content>





    <!-- libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>

    <!-- source -->
    <script src="src/boot.js"></script>
    <script src="src/configs/routes.js"></script>
    <script src="src/controllers/AppCtrl.js"></script>
    <script src="src/services/omdbApi.js"></script>
    <script src="src/services/dbApi.js"></script>
    <script src="src/services/myfilmsApi.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.7 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script> 
</body>
</html>