<div layout="row">
    <div layout="column">
<form name="searchMovie" id="form">
    <div layout="row">
        <div layout="column">
            
            <md-input-container>
                <label>Title</label>
                <input ng-model="title">
            </md-input-container>

            <md-select ng-model="year" style="min-width: 200px;">
                <md-select-label>{{ year ? year : 'Year' }}</md-select-label>
                <md-option ng-value="year" ng-repeat="year in app.years">{{year}}</md-option>
            </md-select>
        </div>
    </div>
    <md-button type="submit" class="md-raised md-primary" ng-click="app.getMovie(title, year)" aria-label="search">
        <ng-md-icon icon="search" style="fill: white" size="32"></ng-md-icon>
    </md-button>
    <md-button class="md-raised md-accent" ng-click="app.addMovie(app.movie.title, app.movie.actors, app.movie.plot, app.movie.poster, app.movie.rating, app.movie.genre)" aria-label="add">
        <ng-md-icon icon="playlist_add" style="fill: white" size="32"></ng-md-icon>
    </md-button>
</form>
       
        <form name="searchAltMovie" id="form" hide>
            <div layout="row">
                <div layout="column">
                    <md-input-container>
                        <label>Title</label>
                        <input ng-model="title">
                    </md-input-container>
                </div>
            </div>
            <md-button type="submit" class="md-raised md-primary" ng-click="app.searchMovie(title)" aria-label="search">
                <ng-md-icon icon="search" style="fill: white" size="32"></ng-md-icon>
            </md-button>
        </form>
    </div>
    

    <div layout="row" flex>
        <div layout="column">
            <div class="md-tile-content" id="add-content">
                <h1>{{app.movie.title}}</h1>
                <h3>{{app.movie.actors}}</h3>
                <h4>{{app.movie.genre}}</h4>
                <p>
                    {{app.movie.plot}}
                </p>
                <h4>{{app.movie.rating}}</h4>
            </div>
        </div>
        <img id="moviePoster" ng-src="{{app.movie.poster}}">
    </div>
</div>
