<form name="searchMovie">
<div layout="row">
    <md-input-container>
        <label>Title</label>
        <input ng-model="title">
    </md-input-container>

    <md-select ng-model="year" style="min-width: 200px;">
        <md-select-label>{{ year ? year : 'Year' }}</md-select-label>
        <md-option ng-value="year" ng-repeat="year in app.years">{{year}}</md-option>
    </md-select>
</div>

    <md-button type="submit" class="md-raised md-primary" ng-click="app.getMovie(title, year)">Search</md-button>
    <md-button class="md-raised md-accent" ng-click="app.addMovie(app.movie.title, app.movie.actors, app.movie.plot, app.movie.poster, app.movie.rating, app.movie.genre)">Add movie to list</md-button>
</form>

<div layout="row" flex>
    <div layout="column">
        <div class="md-tile-content">
            <h1>{{app.movie.title}}</h1>
            <h2>{{app.movie.actors}}</h2>
            <h3>{{app.movie.genre}}</h3>
            <p>
                {{app.movie.plot}}
            </p>
            <h4>{{app.movie.rating}}</h4>
        </div>
    </div>
    <img ng-src="{{app.movie.poster}}">
</div>