<div layout="row">
    <div layout="column">
        <div layout="row" id="updateForm">
            <form style="width: 30vw;">
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="app.movie.title" maxlength="50" required>
                </md-input-container>
                <md-input-container>
                    <label>Actors</label>
                    <input ng-model="app.movie.actors" maxlength="50" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Plot</label>
                    <textarea ng-model="app.movie.plot" columns="1" md-maxlength="150"></textarea>
                </md-input-container>
                <div layout="column" style="margin: 5px">
                    <span style="margin-bottom: 5px; font-size: 0.75em;">Rating</span>
                    {{app.movie.rating}}
                </div>
                <md-slider flex min="0" max="10" ng-model="app.movie.rating" aria-label="rating" id="rating" class>
                </md-slider>
                <md-input-container>
                    <label>Genres</label>
                    <input ng-model="app.movie.genres" maxlength="50" required>
                </md-input-container>
                <md-input-container>
                    <label>Poster</label>
                    <input ng-model="app.movie.poster" maxlength="150" required>
                </md-input-container>
                
                <md-button class="md-raised md-accent" ng-click="app.updateMovie(app.movie.id, app.movie.title, app.movie.actors, app.movie.plot, app.movie.poster, app.movie.rating, app.movie.genres)">
                    <ng-md-icon icon="publish" style="fill: white" size="32"></ng-md-icon>
                </md-button>
            </form>
        </div>
    </div>
    <div flex>
        <img id="moviePoster" ng-src="{{app.movie.poster}}">
    </div>

</div>